{% extends 'index.html' %}
{% load static %}
{% load cart %}
{% block title %}
	<title>MG Shop | Cart</title>
	{% endblock %}
{% block body %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">size</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in Product %}
                            <tr>
                                <form method="post">
                                    {% csrf_token %}
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            {% if i.pic1.url %}
                                            <a href="/product/{{i.pid}}/"><img src="{{i.pic1.url}}" style="width: 100px;height: 100px;" alt=""></a>
                                            {% else %}
                                            <a href="/product/{{i.pid}}/"><img src="{% static 'img/noimg.png'%}" style="width: 100px;height: 100px;" alt=""></a>
                                            {% endif %}
                                        </div>
                                        <div class="media-body">
                                            <p>{{i.name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{i.number}}</h5>
                                </td>
                                <td>
                                    <h5>Rs {{i.finalPrice}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="q" value="{{request|cartQuantity:i.pid}}">
                                        <input type="hidden" name="pid" value="{{i.pid}}">
                                    </div>
                                </td>
                                <td>
                                    <h5>Rs{{request|cartTotal:i.pid}}</h5>
                                </td>
                                <td>
                                    <button class="primary-btn" type="submit" style="border: none;">Update</button>
                                </td>
                                <td>
                                    <a class="primary-btn"  href="/deleteCart/{{i.pid}}/">delete</a>
                                </td>
                            </form>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>Rs{{Total}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Shipping</h5>
                                </td>
                                <td>
                                    {% if Shipping %}
                                    <h5>Rs{{Shipping}}</h5>
                                    {% else %}
                                    <h5>Free</h5>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Final Amount</h5>
                                </td>
                                <td>
                                    <h5>Rs{{Final}}</h5>
                                </td>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="/shop/None/None/None/">Continue Shopping</a>
                                        {% if Final %}
                                        <a class="primary-btn" href="/checkout/">Proceed to checkout</a>
                                        {% else %}
                                        <a class="primary-btn" style="pointer-events: none;" href="/checkout/">Proceed to checkout</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
{% endblock %}